.flex-container{
  display: block;
  /* margin-top: 0; */
  margin-top: -10px;

}

.grid-container{
  display: block;
   width: 50%;
  height:50%; 
}

.one {
  width: 400px;
  height: 200px;
}
.two{
  width: 200px;
  height: 200px;
}
.three{
  width: 300px;
  height: 200px;
}
.four{
  width: 300px;
  height: 100px;
}
.five{
  width: 300px;
  height: 100px;
}